<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momentum.food.finder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />
    

    <instrumentation android:targetPackage="com.momentum.food.finder"
        android:name="android.test.InstrumentationTestRunner">
    </instrumentation>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_home_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:name=".EnterScreen"/>
        <activity android:name=".SearchScreen"/>
        <activity android:name=".ResultScreen"/>
        <activity android:name=".HelpScreen"/>
        <activity android:name=".EditScreen"/>
        <uses-library android:name="android.test.runner"></uses-library>
        
    </application>

</manifest>